<%- include ('partials/head') %>
  <%- include ('partials/nav') %>
    <%- include ('partials/banner') %>

      <!--==========Main Section==========-->
      <main>
        <div class="album py-5 bg-body-tertiary" id="products">
          <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


              <% products.forEach(function(product){ %>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="/images/<%= product.image %>" alt="<%= product.image %>">
                    <div class="card-body">
                      <h3 class="card-title">
                        <%= product.name %>
                      </h3>
                      <h4 class="card-text text-danger">
                        <%= product.price %> AUD
                      </h4>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="product/<%= product.id %>" type="button" class="btn btn-primary">View</a>
                          <a href="product/<%= product.id %>/delete" type="button" class="btn  btn-danger">Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
        </div>
      </main>

      <!--==========Main Section==========-->
      <%- include ('partials/footer') %>