<%- include ('partials/head') %>
<%- include ('partials/nav') %>
<%- include ('partials/banner') %>

<!--==========Product Section==========-->
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/images/<%= product.image %>" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"><%= product.name %></h1>
      <h3 class="text-danger"><%= product.price %> AUD</h3>
      <p><%= product.description %></p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/order" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Order!</a>
        <a href="/product/<%= product.id %>/delete" type="button" class="btn btn-danger btn-lg px-4">Delete</a>
      </div>
    </div>
  </div>
</div>

<!--==========Product Section==========-->

<%- include ('partials/footer') %>


